.popularCoursesList {
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 25px;

  margin-top: 35px;
}
.shadow {
  display: block;

  opacity: 0;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  z-index: -1;
  position: absolute;
  max-width: none;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.3s ease;
}
.courseImageWrapper {
  position: relative;
  cursor: pointer;
}
.courseImageWrapper:hover .shadow {
  opacity: 1;
}
.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  padding-top: 10px;
  margin-left: 40px;
}
.prevPrice {
  font-weight: 400;
  padding-top: 10px;
  font-size: 21px;
  line-height: 25px;
  text-decoration-line: line-through;

  color: var(--text-color);
}

.currentPrice {
  font-weight: 700;
  padding-top: 10px;
  font-size: 32px;
  line-height: 52px;

  color: var(--secondary-color);
}

.courseItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 330px;
}

.courseItemHeader {
  height: 190px;
  width: 100%;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  background-color: var(--secondary-color);
  pointer-events: none;
}

.courseItemFooter {
  display: flex;
  flex-direction: column;
  gap: 14px;

  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 28px;
  padding-right: 20px;

  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;

  background: linear-gradient(287.08deg, rgba(197, 142, 254, 0.07) 0%, rgba(25, 23, 47, 0) 43.83%),
    linear-gradient(107.7deg, rgba(197, 142, 254, 0.07) 0%, rgba(25, 23, 47, 0) 32.84%), #171622;
}

.courseTitle {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  color: var(--text-color);
}

.courseInfo {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  margin-top: 14px;

  text-transform: uppercase;

  color: var(--text-color);
}

.courseButton {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  width: 135px;
  max-height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 25px;

  background: var(--main-color);
  border-radius: 7px;
  color: var(--text-alt-color);
}

.courseDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

.courseDetails li {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
}

.accentuated {
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .popularCoursesList {
    flex-direction: row;
    justify-content: space-between;

    margin-top: 50px;
  }

  .courseItem {
    max-width: none;
  }
}
