.promoSlider {
    position: relative;
    height: 30rem;
    width: 100%;
}

.promoSlide, .promoSlide3, .promoSlide2 {
    position: relative;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;
}

.promoInfo {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.promoInfo > h1 {
    font-size: 2.7rem;
}

.promoImageBlockFirst {
    width: 40%;
    height: 100%;
    position: relative;
    overflow: visible;
}

.promoImage {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.promoSlide3 .promoImage {
    height: 27rem;
}

.promoTitleWithImg {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.promoTitleWithImg p {
    margin-left: 1rem;
}

.promoSlide3 > .promoInfo {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.promoSlide3 > .promoImageBlockFirst {
    width: 60%;
    height: 100%;
    position: relative;
    overflow: visible;
}

.promoSlide2 > .promoInfo {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.promoSlide2 > .promoImageBlockFirst {
    width: 45%;
    height: 90%;
    position: relative;
    overflow: visible;
}

.promoCarouselIcon4f {
    position: absolute;
    top: 12%;
    left: 55.4%;
    z-index: 10;
    width: 115px;
    height: 115px;
}

.promoCarouselStarBottom {
    position: absolute;
    bottom: -13%;
    right: 2%;
    z-index: 5;
}

.promoCarouselStarTop {
    position: absolute;
    top: 2%;
    right: 35%;
    z-index: 5;
}


.rectangleForCarousel4 {
    position: absolute;
    top: 10%;
    left: 59.4%;
    z-index: 11;
    width: 22px;
    height: 22px;
}

.backgroundLines {
    position: absolute;
    left: 10%;
    border-top-right-radius: 28px;
    z-index: 1;
    pointer-events: none;
    width: 600px;
    height: 800px;
}


@media screen and (max-width: 1200px) {
    .promoSlider {
        height: auto;
    }

    .promoSlide, .promoSlide3, .promoSlide2 {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .promoInfo {
        width: 100%;
        height: 40%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 0.5rem;
        box-sizing: border-box;
    }

    .promoInfo > h1 {
        font-size: 1.6rem;
    }

    .promoImageBlockFirst {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5rem;
        box-sizing: border-box;
    }

    .promoImage {
        width: 100%;
        height: 15rem;
    }

    .promoSlide2 > .promoInfo {
        width: 100%;
        height: 40%;
        display: flex;
        padding-bottom: 0.5rem;
        box-sizing: border-box;
    }

    .promoSlide3 > .promoInfo {
        width: 100%;
        height: 40%;
        display: flex;
        padding-bottom: 0.5rem;
        box-sizing: border-box;
    }

    .promoSlide3 > .promoImageBlockFirst {
        width: 95%;
        height: 60%;
        padding-top: 0.5rem;
        box-sizing: border-box;
    }

    .promoSlide3 .promoImage {
        height: 15rem;
    }

    .promoSlide2 > .promoImageBlockFirst {
        width: 95%;
        height: 60%;
        padding-top: 0.5rem;
        box-sizing: border-box;
    }

    .promoSlide2 .promoImage {
        width: 35%;
    }

    .promoCarouselStarBottom {
        bottom: -16%;
        right: 2%;
    }

    .promoCarouselStarTop {
        top: 2%;
        left: 10%;
    }

    .promoSlide > .promoCarouselIcon4f, .promoSlide > .rectangleForCarousel4 {
        display: none;
    }

    .backgroundLines {
        top: 5%;
        left: 10%;
        border-top-right-radius: 28px;
        z-index: 1;
        pointer-events: none;
        width: 200px;
        height: 200px;
    }

}


@media screen and (max-width: 768px) {
    .promoSlide2 .promoImage {
        width: 100%;
        height: 100%;
    }

    .promoCarouselStarBottom {
        bottom: -16%;
        right: -22%;
    }

    .promoCarouselStarTop {
        top: 22%;
        left: -30%;
    }
}


