.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 90px;
}

.imgLogoFooter {
    width: 90px;
}

@media screen and (min-width: 1200px) {
    .logo {
        max-width: none;
        height: 100%;
    }
}
