.button {
  padding: 11px 25px;
  cursor: pointer;
  border: none;

  background: var(--main-color);
  border-radius: 7px;
  color: var(--text-alt-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 1rem;
  margin-left: 0.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1200px) {
}
